<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="'container">
    <h1>Leave your feedback:</h1>
    <form method="POST" action="/feedback">
        <textarea name="comment" rows="4" cols="50" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>
    <a href="/">Go Back</a>
</div>
</body>
</html>